body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  color: #e6e6e6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Ensure the iframe fills the viewport */
iframe {
  border: none;           /* Removes border around the iframe */
  display: block;         /* Ensures proper block-level behavior */
  width: 100vw;           /* Full viewport width */
  height: 100vh;          /* Full viewport height */
  position: absolute;
	top: 0;
	left: 0;
}
